<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Scrape Jobs</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css'>
    <link href="https://fonts.googleapis.com/css2?family=Loved+by+the+King&display=swap" rel="stylesheet">
    <style >
        div {
            border: 0px solid gray;
        }
        .header {
            background-color: #191f7f;
            color:whitesmoke;
            font-weight: bold;
        }
        .sidebutton {
            background-color: #191f7f;
            color:whitesmoke;
            font-weight: bold;
            font-size: 1.1em;
        }
    </style>
</head>

<body>
<div class="d-flex flex-column">
    <div th:fragment="header" class="header p-4">
        <h1 style="font-size: 4em; font-family: 'Loved by the King', cursive;">Deep Fij 9000</h1>
    </div>
    <div class="d-flex flex-row">
        <div th:fragment="sidebar" class="d-flex flex-column justify-content-start">
            <div class="p-3 mt-2 mx-2 sidebutton fa fa-airbnb">Home</div>
            <div class="p-3 mt-2 mx-2 sidebutton  "><span class="fas fa-angle-double-up"></span> Teams</div>
            <div class="p-3 mt-2 mx-2 sidebutton">Conferences</div>
            <div class="p-3 mt-2 mx-2 sidebutton">Stats</div>
            <div class="p-3 mt-2 mx-2 sidebutton">Schedule</div>
        </div>
        <div id="mainContent">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer imperdiet luctus ultrices. Morbi sed ex
                est. Praesent egestas nulla dui, pulvinar hendrerit est faucibus sed. Nunc ac interdum nunc, et bibendum
                erat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sed lacus a odio hendrerit vehicula.
                Morbi ultricies metus diam, ac scelerisque libero placerat nec.</p>

            <p>Proin id nisl fringilla, lacinia nunc quis, posuere tortor. Suspendisse hendrerit felis quis velit
                malesuada, eu lacinia lorem accumsan. Nulla facilisi. Proin non faucibus elit, non efficitur mi. Mauris
                scelerisque ac lorem vel facilisis. Pellentesque habitant morbi tristique senectus et netus et malesuada
                fames ac turpis egestas. Fusce id magna eget lacus accumsan feugiat in et lacus. Curabitur ac rhoncus
                purus. Donec nec ligula vitae est volutpat rhoncus. Sed varius, mauris in vehicula consectetur, eros
                purus ornare tellus, non tincidunt ex sapien vitae tellus. Pellentesque faucibus placerat metus non
                accumsan.</p>

            <p>Donec eget dui mi. Maecenas semper dapibus urna, eu maximus lorem luctus eget. Integer non lacus id
                tortor sodales bibendum. Aenean in tellus et mi luctus placerat. Nam elementum turpis lectus, eu tempus
                ligula tempus vel. Nunc malesuada sapien eget volutpat dictum. Phasellus a lorem id nisi aliquam
                hendrerit.</p>

            <p>Phasellus a sapien quis lacus hendrerit condimentum eget sed nisi. Mauris in mattis felis. Proin diam
                tellus, blandit nec erat eu, congue condimentum purus. Ut in faucibus massa. Aliquam luctus posuere
                nisl. Nullam id urna malesuada, faucibus mi et, elementum ex. Nullam ac posuere ipsum. Donec egestas
                elit a dignissim auctor. Mauris leo velit, efficitur non diam non, iaculis dignissim tellus. Mauris at
                metus mi. Suspendisse venenatis tempus tellus non condimentum. Aliquam rutrum pulvinar rhoncus. Fusce
                tincidunt non neque et pretium. Integer in aliquet nibh.</p>

            <p>Nam sodales dapibus enim pretium ultricies. Donec viverra risus consectetur eleifend elementum. In quis
                neque eu diam ullamcorper elementum. Aliquam gravida imperdiet facilisis. Fusce luctus ipsum lacus, sed
                feugiat sapien eleifend bibendum. Nulla facilisi. Fusce sit amet molestie felis, in auctor velit.
                Pellentesque luctus consectetur lacus ut lacinia.</p>
            </table>
        </div>
    </div>
    <div th:fragment="footer" class="d-flex flex-column">
        <div>&copy; 2020 Deep Fij Enterprises</div>
        <div>Contact us at <a href="mailto:deepfij@gmail.com">deepfij@gmail.com</a></div>
    </div>
</div>
</body>
</html>