.team-banner {
    font-size: 72px;
    font-family: 'Alfa Slab One', cursive;
}

.team-banner-box {
    border-bottom-width: 5px;
    border-bottom-style: solid;
    width: 100%;
}

#mainContent {
    font-family: 'Lato', sans-serif;
}

#team-record {
    font-weight: 300;
    font-size: 125%;
    font-style: italic;
    margin-top: 5px;
    margin-bottom: 5px;
}

#team-schedule-table {
    max-width: 50%;
    font-size: 90%;
}
#team-schedule-table td {
    padding: 0;
}